*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #E4EEF1;
    background-color: #FF69B4;
    height: 15vh;


    section {
        display: flex;
        align-items: center;
    }
    nav {
        width: 40%;
        ul{
            display: flex;
            justify-content: space-around;
            a{
                color: #E4EEF1;
                font-size: 28px;

            }
        }
    }
}
.sessaoAlerta{
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFD9EC;

    p{
        width: 40%;
        font-size: 25px;
    }
    img {
        width: 19vw;
        align-items: center;
    }
}

.sessaoCorrida{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 35vh;
    background-color: #FF69B4;
    p{
        width: 55%;
        font-size: 25px;
        color: #E4EEF1;
    }
}

.terceirasessao {
    background-color: #FFD9EC;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
        img{
            width: 20%;
        }
}
footer {
    background-color: #ff69b4;
}
.nav2{
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.icon{
    height: 8px;
    right: 8px;
    align-items: center;
    display: flex;
}
.class1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E4EEF1;
}

@media (max-width: 768px) {
    header {
        height: 20vh;
        flex-direction: column;
        nav{
            width: 95%;
        }
    }
    .sessaoAlerta {
        height: 80vh;
        flex-direction: column-reverse;

        p {
            width: 90%;
            font-size: 22px;
            text-align: center;
        }

    }
    .sessaoCorrida {
        height: 80vh;
        flex-direction: column;
        p{
            width:  90%;
            font-size: 22px;
            text-align: center;
        }
    }
    .terceirasessao {
        height: 120vh;
        width: 905;
        flex-direction: column;
    }
    footer{
        height: 15vh;

        nav{
            align-items: center;
        }
        .class1{
            font-size: 15px;
            text-align: center;
        }
    }
}